<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with site.Home.OutputFormats.Get "RSS" }}
  <link rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" href="{{ .Permalink }}">
  {{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>
<body>
  <header class="site-header">
     {{ partial "nav.html" . }}
  </header>

  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
